body {
    color: rgba(255,255,255,.5);
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
    /* letter-spacing: .5em; */
    top: 15%;
	background: linear-gradient(to right, grey, rgb(0, 191, 255));
   /* background-image:url('img/stardust.png'); */
    background-size:contain;
    background-position:center;
}


h1 {
    font-family: "Lucida Console",monospace;
    font-size: 3.5rem;
}


#brainIcon {
    height: 2.5rem;
    width: 2.5rem;
}

.row {
    width: 5rem;
    height: 5rem;
    background-color: rgb(105, 105, 105);
    opacity: .75;
    outline: none;
    text-align: center;
    text-transform: uppercase;
   /* font-weight: bold; */
    font-size: 4.5rem;
    color: seashell;
    padding: .1rem;
    margin: .1rem;
}


.grid-container{
    /* display: inline-grid; 
    column-gap: .2rem;
    row-gap: .2rem;
    grid-template-columns: repeat(5, 1fr); */
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.inputRow {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-items: center;
}


.keyboard{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    opacity: 0.8;
    text-align: center;
    text-transform: uppercase;
}

.toprow{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-items: center;
}
.middlerow{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-items: center;
}
.bottomrow{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-items: center;
}

.kbBTN{
    width: 4rem;
    height: 4rem;
    padding: .2rem;
    margin: .2rem;
    background-color: lightgray;
/*    text-decoration-color: seashell;*/
    color: black;
}